@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* we can use dark:text-etc, neon:text-etc, */
/* hooks > (not needed)*/
/* components > Theme switcher */
/* taliwing.config */
/* for flickering will install next-themes for folder providers >
which will wrap the children in the layout */



@layer base {

  :root {
    --background: #000000;
    --foreground: #fffffff8; 
    

  }

  .dark {
    --background: #000000;
    --foreground: #fffffff8; 
    --primary: #B5B5B5;
    --secondary: #7C7C7C;
    --accent1: #17D9FF;
    --accent2: #1770FF;
    --accent3: #9046D9;

  }

  .neon {
    --background: #171717;
    --foreground: #fffffff8; 

  }

  body {
    @apply bg-[#000000] text-[#fffffff8]
  }

}



/* ////////////////////////////////////////////////////////////////////// */
/* // Window scroll bar styling - SmoothScroll component */
.scrollbar-track-y {
  background-color: transparent !important;
  /* width: 5px !important; */
}

.scrollbar-thumb-y {
  background-color: #ffffff63 !important;
  width: 5px !important;
  /* height: 200px !important; */
  /* border: 1px solid rgb(0, 193, 132); */
  /* border-radius: 0px !important; */
}

/* ////////////////////////////////////////////////////////////////////// */
/* Website's nav bar display on scroll up */

.main-tool-bar {
  transition: ease 0.4s;
}
.navShow {
  margin-top: -100px;
}

/* Hover on nav links */
.ActiveNavLink::after {
  content: "";

  width: 3px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  bottom: -0.75rem;
  left: 50%;
  transform: scale(0) translateX(-50%);
  transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);

  /* neon */
  box-shadow:  0 0 1px #17D9FF,
  0 0 4px #17D9FF;

}

.ActiveNavLink:hover::after {
  content: "";

  width: 40px;
  height: 2px;
  background-color: #17D9FF;
  position: absolute;
  /* border-radius: 50%; */
  bottom: -0.75rem;
  left: 50%;
  transform: scale(0) translateX(-50%);
  transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);

  transform: scale(1) translateX(-50%);
  


}


/* https://www.youtube.com/shorts/IZWoZZwRw14?app=desktop */
.neon_button {
  /* box-shadow:  0 0 1px #17D9FF,
              0 0 4px #17D9FF; */
  background-color: #17D9FF;
  color: #032127c0;
  font-weight: 600;
}

.neon_button:hover {
  box-shadow:  0 0 2px #17D9FF,
              0 0 6px #17D9FF;
}

/* ////////////////////////////////////////////////////////////////////// */

.vaporWave {
  opacity: 0;
  animation-delay: 1s;
  animation-name: fadeIn_keyframe;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fadeIn_keyframe {
  0% { 
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

.CardStyle {
@apply border
p-4 rounded-[10px]
flex justify-start flex-col pb-8 transition-all duration-75 ease-linear

}

.CardStyle h3 {
  @apply text-[2rem]
}

.CardStyle p {
  @apply  text-[1rem]
}

.CardStyle_bg_1 {
@apply hover:bg-[rgba(23,201,255,0.15)] bg-[rgba(23,201,255,0.08)] border-[rgba(23,216,255,0.17)]
}

.CardStyle_bg_1 p {
  @apply text-[rgb(178,225,235)]
}






.CardStyle_bg_2 {
  @apply hover:bg-[rgba(144,70,217,0.12)] bg-[rgba(144,70,217,0.08)] border-[rgba(144,70,217,0.2)]
  }

  .CardStyle_bg_1 p {
    @apply text-[rgb(159,170,172)]
  }

  .CardStyle_bg_2 p {
    @apply text-[rgb(182,164,199)]
  }
  
/* dark sides on brand slider, used in the wrapper in the hero component */
#brandStrip::after {
  /* border: 1px solid rgb(255, 0, 0); */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15449929971988796) 90%, rgba(0,0,0,0.8743872549019608) 100%);

}

.sideFadeGradient::after {
  /* content: "";
  position: absolute;
  width: 105%;
  height: 100%;
  left: -1.7rem;
  top:0; */
  /* -webkit-box-shadow: inset 0px 0px 36px 52px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 36px 52px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 36px 52px rgba(0,0,0,1); */
}

.valueCard1 {
background: radial-gradient(circle at 100% 100%, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 0% 0%/6px 6px no-repeat,
            radial-gradient(circle at 0 100%, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 100% 0%/6px 6px no-repeat,
            radial-gradient(circle at 100% 0, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 0% 100%/6px 6px no-repeat,
            radial-gradient(circle at 0 0, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 100% 100%/6px 6px no-repeat,
            linear-gradient(#0a0a0a, #0a0a0a) 50% 50%/calc(100% - 4px) calc(100% - 12px) no-repeat,
            linear-gradient(#0a0a0a, #0a0a0a) 50% 50%/calc(100% - 12px) calc(100% - 4px) no-repeat,
            linear-gradient(136deg, #9046d913 0%, #17d8ff3a 100%);
border-radius: 6px;
padding: 18px;
box-sizing: border-box;
}

.valueCard1:hover {
  background: 
              linear-gradient(136deg, #9046d92a 0%, #17d8ff6c 100%);
  border-radius: 6px;
  padding: 18px;
  box-sizing: border-box;

  
  }

.glass_bg1 {
  /* background: rgba(255, 255, 255, 0.01); */
/* border-radius: 16px; */
/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
/* backdrop-filter: blur(5px); */
/* -webkit-backdrop-filter: blur(5px); */
/* border: 1px solid rgba(255, 255, 255, 0.07); */
}

.glass_bg2 {
  background: rgba(0, 0, 0, 0.664);
/* border-radius: 16px; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.07);
}

.valueCard2::before {
  /* border: 1px solid red; */
  /* z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: -2px;
  right: -2px;
  border-radius: 10px;

  background: rgb(23,217,255);
  background: linear-gradient(312deg, rgba(23,217,255,0.48) 0%, rgba(134,82,220,0.2) 15%, rgba(144,70,217,0.1) 100%); */
  /* transition: all 1s linear; */
}

.valueCard2 {
  /* transition: all 1s linear; */
  /* overflow: hidden; */
  /* border: 2px solid rgba(221, 221, 221, 0.123) */

}

/* .valueCard2:hover {
  background: rgb(23,217,255);
background: linear-gradient(312deg, rgba(23,217,255,0.4) 0%, rgba(144,70,217,0.4) 100%);
} */

.valueCard2:hover::before {
  /* width: 200%;
  height: 200%; */

}


/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */


.border_neon1 {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #17D9FF,
            0 0 0.8rem #17D9FF,
            0 0 2.8rem #17D9FF,
            inset 0 0 1.3rem #17D9FF; 
  border-color: #17D9FF;

}

.border_neon2 {
   box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #17D9FF,
            0 0 0.8rem #17D9FF,
            0 0 1rem #17D9FF,
            inset 0 0 2rem #17D9FF; 
  border-color: #17D9FF;

}


.section3_card {
  /* border: 1px solid rgba(255, 255, 255, 0.336);
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 10px; */

}

.centered_centered2 {
  /* position: absolute; */
  /* top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

.rotate360 {
    
    animation: rotateAnimation 30s linear infinite;
    will-change: transform; 
}

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* Text */

.Heading1 {
  @apply font-normal text-[13vw] leading-[12vw] md:text-[min(110px,8vw)] md:leading-[min(100px,7vw)] Montserrat text_shadow_1
  color1
}

/* section header */
.Heading2 {
  @apply font-normal text-[8vw] md:text-[min(55px,4vw)] Montserrat text_shadow_1
  color1
}

/* card header */
.Heading3 {
  @apply font-normal text-[min(4vw,18px)] md:text-[min(24px,3vw)] text_shadow_1
  color1
}

.Paragraph1 {
  @apply font-extralight text-[3vw] leading-[3vw] sm:text-[2vw] sm:leading-[2.5vw] md:text-[min(16px,2vw)] md:leading-[min(22px,2vw)] text_shadow_2
  Poppins color2
}

.Paragraph2 {
  @apply font-extralight text-[min(3vw,13px)] leading-[5vw] sm:text-[2vw] sm:leading-[2.5vw] md:text-[min(14px,2vw)] md:leading-[min(22px,2vw)] text_shadow_1
  Poppins color1
}

.gradient_text {
  background: -webkit-linear-gradient(
    
  0deg, 
  
  #9046D9
  
  0%, 
  
  #17D9FF


  100%
  );  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.GradientButton:hover {
  box-sizing:content-box;
  border: 3px solid #9046D9;
}

button {
  border: 3px solid transparent;

}

.GradientButton:hover .gradient_text {
  background: -webkit-linear-gradient(
    
  0deg, 
  
  #9046D9
  
  60%, 
  
  #17D9FF


  100%
  );  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_shadow_1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.text_shadow_2 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.05);
}

.Poppins {
  @apply font-['Poppins']
}

.Montserrat {
  @apply font-['Montserrat']
}

.color1 {
  @apply text-[#ffffff];
}

.color2 {
  @apply text-[#9e9e9e];
}


.color3 {
  @apply text-[#7C7C7C];
}


.color4 {
  @apply text-[#4E4E4E];
}


.color5 {
  @apply text-[#000000];
}

.accent1 {
  @apply text-[#17D9FF]
}

.accent2 {
  @apply text-[#1770FF]
}

.accent2 {
  @apply text-[#9046D9]
}





.GSAPbox {
  width: 100px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: white;
  border-radius: 8px;
  color: #222;
  font-weight: 700;
  margin-left: 20px;
  will-change: transform;
}
.GSAPbox.active {
  background-color: orange;
  border: 2px solid white;
}

.GSAPcontainer {
  width: 500%;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #222;
}

.GSAPpanel {
  width: 100vw;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.GSAPcenterBox {
  width: 400px;
  height: 400px;
  background: black;
}


/* ////////////////////////////////////////////////////////////////////////////*/
/* section 5 */

.FeedbackCard {
  @apply border opacity-0 text-sm p-2 absolute rounded-[10px] w-max flex flex-col
  bg-slate-800 border-slate-700 md2:pb-2
}

.FeedbackCard {
  width: 90vw;
  transition: height 0.1s ease-out;
  overflow: hidden;
}



.FeedbackCard > .FeedbackCard_content2 {      
  /* Remove delay by setting transition delay to -0.25s */
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease ;
  /* max-height: 0;
  opacity: 0; */
  display: none;
}

.FeedbackCard:hover > .FeedbackCard_content2 {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease ;
   /* max-height: 500px;
   opacity: 1; */
   display: block;
}


.FeedbackCard_title {
  @apply flex flex-row gap-2 items-center mb-1 md2:my-2 md2:mx-2
}

.FeedbackCard_title__circle {
  @apply w-7 h-7 bg-white rounded-full
}

.FeedbackCard_content, .FeedbackCard_content2 {
  @apply text-xs md2:text-base flex-1 flex items-center justify-center text-start
  md2:px-2 md2:pt-2
}



.FeedbackGallery {
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.FeedbackGallery_cards {
	position: absolute;
	width: 14rem;
	height: 18rem;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.FeedbackGallery_cards li {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 14rem;
	height: 70vh;
	text-align: center;
	line-height: 18rem;
	font-size: 2rem;
	background-color: #9d7cce;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0.8rem;
}















/* carousel */
.carousel{
  height: 100%;
  /* margin-top: -50px; */
  width: 100%;
  overflow: hidden;
  position: relative;
}
.carousel .list .item{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}
.carousel .list .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel .list .item .content{
  position: absolute;
  top: 10%;
  width: 1140px;
  max-width: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
  font-weight: bold;
  letter-spacing: 5px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
  font-size: 5em;
  font-weight: bold;
  line-height: 1.3em;
}
.carousel .list .item .topic{
  color: #17D9FF;
}
.carousel .list .item .buttons{
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}
.carousel .list .item .buttons button{
  border: none;
  background-color: #17D9FF;
  letter-spacing: 3px;
  /* font-family: Poppins; */
  font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}
/* thumbail */
.thumbnail{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}
.thumbnail .item{
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}
.thumbnail .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.thumbnail .item .content{
  color: #fff;  /*thumbs content text color*/
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}
.thumbnail .item .content .title{
  font-weight: 500;
}
.thumbnail .item .content .description{
  font-weight: 300;
}
/* arrows */
.arrows{
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  /* width: 100%; */
  z-index: 100;
  /* width: 300px; */
  /* max-width: 30%; */
  display: flex;
  gap: 10px;
  align-items: center;
  /* border: 1px solid white; */
}
.arrows button{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #17D9FF;
  border: none;
  color: #000000;
  /* font-family: monospace; */
  /* font-weight: bold; */
  transition: .1s;
  font-size: 12px;
}
.arrows button:hover{
  background-color: #eee4;
  color: #dbdbdb;
}

/* animation */
.carousel .list .item:nth-child(1){
  z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent .25s 1s linear 1 forwards;
}
@keyframes showContent{
  to{
      transform: translateY(0px);
      filter: blur(0px);
      opacity: 1;
  }
}
.carousel .list .item:nth-child(1) .content .title{
  animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
  animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
  animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
  animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
  to{
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
  }
}

.carousel.next .thumbnail .item:nth-last-child(1){
  overflow: hidden;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
  z-index: 100;
}
@keyframes showThumbnail{
  from{
      width: 0;
      opacity: 0;
  }
}
.carousel.next .thumbnail{
  animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
  from{
      transform: translateX(150px);
  }
}

/* running time */

.carousel .time{
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #17D9FF;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time{
  animation: runningTime 0.55s linear 1 forwards;
}
@keyframes runningTime{
  from{ width: 100%}
  to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
  z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
  animation: outFrame 0.5s linear 1 forwards;
  position: absolute;
  bottom: 0;
  left: 0;
}
@keyframes outFrame{
  to{
      width: 150px;
      height: 220px;
      bottom: 50px;
      left: 50%;
      border-radius: 20px;
  }
}

.carousel.prev .thumbnail .item:nth-child(1){
  overflow: hidden;
  opacity: 0;
  animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
  pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
  animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
  to{
      transform: translateY(-150px);
      filter: blur(20px);
      opacity: 0;
  }
}
@media screen and (max-width: 678px) {
  .carousel .list .item .content{
      padding-right: 0;
  }
  .carousel .list .item .content .title{
      font-size: 30px;
  }
}





/* //////////////////////////////////////////////////////////// */

/* .panel {
  height: 100vh;
  top: 0;
  will-change: transform;
} */

.FormLabel {
  @apply w-full text-start text-white text-xl
}

/* outline-none focus:outline-2 focus:outline-offset-3 */

.FormInput {
  @apply
  focus:outline-[#387ca4]
  caret-[#387ca4]
  placeholder-[#6464645b]
  text-[#ffffff]
  border border-l-0 border-r-0 border-t-0
  border-b-[#505050]

  bg-[rgba(255,255,255,0.02)]
  px-2
}