@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* we can use dark:text-etc, neon:text-etc, */
/* hooks > (not needed)*/
/* components > Theme switcher */
/* taliwing.config */
/* for flickering will install next-themes for folder providers >
which will wrap the children in the layout */



@layer base {

  :root {
    --background: #000000;
    --foreground: #fffffff8; 
    

  }

  .dark {
    --background: #000000;
    --foreground: #fffffff8; 
    --primary: #B5B5B5;
    --secondary: #7C7C7C;
    --accent1: #17D9FF;
    --accent2: #1770FF;
    --accent3: #9046D9;

  }

  .neon {
    --background: #171717;
    --foreground: #fffffff8; 

  }

}

@layer base {
  body {
    @apply bg-background text-foreground
  }
}

/* ////////////////////////////////////////////////////////////////////// */
/* // Window scroll bar styling - SmoothScroll component */
.scrollbar-track-y {
  background-color: transparent !important;
  /* width: 5px !important; */
}

.scrollbar-thumb-y {
  background-color: #ffffff63 !important;
  width: 5px !important;
  /* height: 200px !important; */
  /* border: 1px solid rgb(0, 193, 132); */
  /* border-radius: 0px !important; */
}

/* ////////////////////////////////////////////////////////////////////// */
/* Website's nav bar display on scroll up */

.main-tool-bar {
  transition: ease 0.4s;
}
.navShow {
  margin-top: -100px;
}

/* Hover on nav links */
.ActiveNavLink::after {
  content: "";

  width: 3px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  border-radius: 50%;
  bottom: -0.75rem;
  left: 50%;
  transform: scale(0) translateX(-50%);
  transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);

  /* neon */
  box-shadow:  0 0 1px #17D9FF,
  0 0 4px #17D9FF;

}

.ActiveNavLink:hover::after {
  content: "";

  width: 40px;
  height: 2px;
  background-color: #17D9FF;
  position: absolute;
  /* border-radius: 50%; */
  bottom: -0.75rem;
  left: 50%;
  transform: scale(0) translateX(-50%);
  transition: all 0.2s cubic-bezier(0.76, 0, 0.24, 1);

  transform: scale(1) translateX(-50%);
  


}


/* https://www.youtube.com/shorts/IZWoZZwRw14?app=desktop */
.neon_button {
  /* box-shadow:  0 0 1px #17D9FF,
              0 0 4px #17D9FF; */
  background-color: #17D9FF;
  color: #032127c0;
  font-weight: 600;
}

.neon_button:hover {
  box-shadow:  0 0 2px #17D9FF,
              0 0 6px #17D9FF;
}

/* ////////////////////////////////////////////////////////////////////// */

.vaporWave {
  opacity: 0;
  animation-delay: 1s;
  animation-name: fadeIn_keyframe;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes fadeIn_keyframe {
  0% { 
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

/* dark sides on brand slider, used in the wrapper in the hero component */
#brandStrip::after {
  /* border: 1px solid rgb(255, 0, 0); */
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15449929971988796) 90%, rgba(0,0,0,0.8743872549019608) 100%);

}

.sideFadeGradient::after {
  /* content: "";
  position: absolute;
  width: 105%;
  height: 100%;
  left: -1.7rem;
  top:0; */
  /* -webkit-box-shadow: inset 0px 0px 36px 52px rgba(0,0,0,1);
  -moz-box-shadow: inset 0px 0px 36px 52px rgba(0,0,0,1);
  box-shadow: inset 0px 0px 36px 52px rgba(0,0,0,1); */
}

.valueCard1 {
/* background: radial-gradient(circle at 100% 100%, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 0% 0%/6px 6px no-repeat,
            radial-gradient(circle at 0 100%, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 100% 0%/6px 6px no-repeat,
            radial-gradient(circle at 100% 0, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 0% 100%/6px 6px no-repeat,
            radial-gradient(circle at 0 0, #0a0a0a 0, #0a0a0a 4px, transparent 4px) 100% 100%/6px 6px no-repeat,
            linear-gradient(#0a0a0a, #0a0a0a) 50% 50%/calc(100% - 4px) calc(100% - 12px) no-repeat,
            linear-gradient(#0a0a0a, #0a0a0a) 50% 50%/calc(100% - 12px) calc(100% - 4px) no-repeat,
            linear-gradient(136deg, #9046d900 0%, #17d8ff2a 100%);
border-radius: 6px;
padding: 18px;
box-sizing: border-box; */
}

.valueCard2::before {
  /* border: 1px solid red; */
  /* z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: -2px;
  right: -2px;
  border-radius: 10px;

  background: rgb(23,217,255);
  background: linear-gradient(312deg, rgba(23,217,255,0.48) 0%, rgba(134,82,220,0.2) 15%, rgba(144,70,217,0.1) 100%); */
  /* transition: all 1s linear; */
}

.valueCard2 {
  /* transition: all 1s linear; */
  /* overflow: hidden; */
  /* border: 2px solid rgba(221, 221, 221, 0.123) */

}

/* .valueCard2:hover {
  background: rgb(23,217,255);
background: linear-gradient(312deg, rgba(23,217,255,0.4) 0%, rgba(144,70,217,0.4) 100%);
} */

.valueCard2:hover::before {
  /* width: 200%;
  height: 200%; */

}


/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */


.border_neon1 {
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #17D9FF,
            0 0 0.8rem #17D9FF,
            0 0 2.8rem #17D9FF,
            inset 0 0 1.3rem #17D9FF; 
  border-color: #17D9FF;

}

.border_neon2 {
   box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #17D9FF,
            0 0 0.8rem #17D9FF,
            0 0 1rem #17D9FF,
            inset 0 0 2rem #17D9FF; 
  border-color: #17D9FF;

}


.section3_card {
  /* border: 1px solid rgba(255, 255, 255, 0.336);
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 10px; */

}

.centered_centered2 {
  position: absolute;
  top: 5%;
  left: 5%;
  transform: translate(50%, 50%);
}

.rotate360 {
    
    animation: rotateAnimation 30s linear infinite;
    will-change: transform; 
}

  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }



/* ////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// */
/* Text */

.Heading1 {
  @apply font-normal text-[13vw] leading-[12vw] md:text-[min(110px,8vw)] md:leading-[min(100px,7vw)] Montserrat text_shadow_1
  color1
}

/* section header */
.Heading2 {
  @apply font-normal text-[8vw] md:text-[min(55px,4vw)] Montserrat text_shadow_1
  color1
}

/* card header */
.Heading3 {
  @apply font-normal text-[min(4vw,18px)] md:text-[min(24px,3vw)] text_shadow_1
  color1
}

.Paragraph1 {
  @apply font-extralight text-[3vw] leading-[3vw] sm:text-[2vw] sm:leading-[2.5vw] md:text-[min(16px,2vw)] md:leading-[min(22px,2vw)] text_shadow_2
  Poppins color3
}

.Paragraph2 {
  @apply font-extralight text-[min(3vw,13px)] leading-[5vw] sm:text-[2vw] sm:leading-[2.5vw] md:text-[min(14px,2vw)] md:leading-[min(22px,2vw)] text_shadow_1
  Poppins color1
}

.gradient_text {
  background: -webkit-linear-gradient(
    
  0deg, 
  
  #9046D9
  
  0%, 
  
  #17D9FF


  100%
  );  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_shadow_1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.2);
}

.text_shadow_2 {
  text-shadow: 0px 0px 8px rgba(0,0,0,0.05);
}

.Poppins {
  @apply font-['Poppins']
}

.Montserrat {
  @apply font-['Montserrat']
}

.color1 {
  @apply text-[#ffffff];
}

.color2 {
  @apply text-[#B5B5B5];
}


.color3 {
  @apply text-[#7C7C7C];
}


.color4 {
  @apply text-[#4E4E4E];
}


.color5 {
  @apply text-[#000000];
}

.accent1 {
  @apply text-[#17D9FF]
}

.accent2 {
  @apply text-[#1770FF]
}

.accent2 {
  @apply text-[#9046D9]
}





.GSAPbox {
  width: 100px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: white;
  border-radius: 8px;
  color: #222;
  font-weight: 700;
  margin-left: 20px;
  will-change: transform;
}
.GSAPbox.active {
  background-color: orange;
  border: 2px solid white;
}

.GSAPcontainer {
  width: 500%;
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  background-color: #222;
}

.GSAPpanel {
  width: 100vw;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.GSAPcenterBox {
  width: 400px;
  height: 400px;
  background: black;
}