
.GradBorderButton_wrapper {

    position: relative;

    width: 350px;
    height: 44px;

    border: 1px solid hsla(0, 0%, 100%, .14);
    border-radius: 10px;

    background-color: black;
    padding: 0px 10px;
    font-size: 1.5rem;



}

.GradBorderButton {

    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;

    background: linear-gradient(-90deg, #007cf0, #00dfd8, #ff0080, #007cf0);
    background-size: 400% 100%;
    animation: AppleGradButton_anim 8s ease-in-out infinite;

    border-radius: inherit;
}


@keyframes AppleGradButton_anim {
    50% {
        background-position: 140% 50%;
        transform: skew(-2deg);
    }
}


.GradBorderButton::before {
    content: "";
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    animation: inherit;
    left: 0;
    right: 0;
    top: 1px;
    height: 100%;
    filter: blur(.5rem);
}

.GradBorderButton_text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    font-size: 1em;
    padding: 0px 10px;
    padding-top: 3px;

    background-color: black;
    border-radius: 9px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}